/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */
 ul.fin-list li,  ul.pre-list li,  ul.log-list li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid gray;
}

ul.fin-list li a,  ul.pre-list li a, ul.log-list li a{
	display: block;
}

ul.fin-list li:hover,  ul.pre-list li:hover{
	background-color: green;
}

ul.log-list li:hover{
	background-color: blue;
}

.question{
	font-weight: 700;
	color: rgba(77,207,255,1);
	size: 25px;
}

.small-processing-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
}

.steps{
	color: rgb(255, 230, 0);
	font-weight: 700;
	margin: 0 !important;
}

.steps span{
	color: rgb(255, 230, 0);
	font-weight: 700;
}

.my-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.3125rem;
    position: relative;
    font-size: 1.75rem;
    font-weight: 700;
    color: rgba(250,250,250,1);
    padding: .5rem 1.125rem 0 1.4375rem 0;
    margin: auto;
    height: 3.75rem;
    width: 13.125rem;
    border: .1875rem solid #afafaf;
	border-radius: 3.75rem;
	margin-bottom: 12px;
}

.ggz-btn {
	background-color: rgb(0, 173, 43) !important;
    width: 70% !important;
    margin: auto !important;
    border-radius: 50px !important;
    border: 2px soild blue !important;
    border: .1875rem solid #009af9 !important;
    border-radius: 3.75rem !important;
    height: 65px !important;
    line-height: 3.75rem !important;
}

/* .ggz-slider{
	margin: auto;
	width: 100%;
	margin-top: 20%;
}

.ggz-slider::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	appearance: none !important;
	width: 25px !important;
	height: 25px !important;
	border-radius: 50% !important;
	background: #4CAF50 !important;
  }
  
  .slider::-moz-range-thumb {
	width: 25px !important;
	height: 25px !important;
	border-radius: 50% !important;
	background: #4CAF50 !important;
  } */