/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */
 ul.fin-list li,  ul.pre-list li,  ul.log-list li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid gray;
}

ul.fin-list li a,  ul.pre-list li a, ul.log-list li a{
	display: block;
}

ul.fin-list li:hover,  ul.pre-list li:hover{
	background-color: green;
}

ul.log-list li:hover{
	background-color: blue;
}

.question{
	font-weight: 700;
	color: rgba(77,207,255,1);
	size: 25px;
}

.small-processing-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
}

.steps{
	color: rgb(255, 230, 0);
	font-weight: 700;
	margin: 0 !important;
}

.steps span{
	color: rgb(255, 230, 0);
	font-weight: 700;
}

.my-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.3125rem;
    position: relative;
    font-size: 1.75rem;
    font-weight: 700;
    color: rgba(250,250,250,1);
    padding: .5rem 1.125rem 0 1.4375rem 0;
    margin: auto;
    height: 3.75rem;
    width: 13.125rem;
    border: .1875rem solid #afafaf;
	border-radius: 3.75rem;
	margin-bottom: 12px;
}
.animated-background{
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}
@keyframes backgroundColorPalette {
	0% {
		background: #ed8600;
	}
	25% {
		background: #31945d;
	}
	50% {
		background: #e26714;
	}
	75% {
		background: #7663e0;
	}
	100% {
		background: #c02401;
	}
}

.original-orange{background-color: #ed8600}